/* body {
  overflow-x: hidden;
} */

.left-slide-anim {
  transform: translateX(100%);
  opacity: 0;
  
  -webkit-transition: none; 
  -moz-transition: none; 
  -o-transition: none; 
  transition: none;
}

.right-slide-anim {
  transform: translateX(-100%);
  opacity: 0;
  
  -webkit-transition: none; 
  -moz-transition: none; 
  -o-transition: none; 
  transition: none;
}

.top-slide-anim {
  transform: translateY(150%);
  opacity: 0;
  
  -webkit-transition: none; 
  -moz-transition: none; 
  -o-transition: none; 
  transition: none;
}

.bottom-slide-anim {
  transform: translateY(-150%);
  opacity: 0;
  
  -webkit-transition: none; 
  -moz-transition: none; 
  -o-transition: none; 
  transition: none;
}

.show-slide-anim {
  transform: translateX(0);
  transform: translateY(0);
  opacity: 1;

  -webkit-transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 1s ease-out; 
  -moz-transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 1s ease-out; 
  -o-transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 1s ease-out; 
  transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 1s ease-out;
}